# Maven
target/
**/.m2/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

# Logs & OS
*.log
*.class
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.*
!.env.example
